.chat-room-footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--chat-padding-default);
  position: absolute;
  bottom: 71px;
  /* width: 500px; */
  width: 500px;

/* content 에 realtive ??? ? */
}

.chat-room-footer-camera-btn,
.chat-room-footer-send-btn {
  width: 54px;
  height: auto;
}

.chat-room-footer-input {
  width: 65%;
  height: auto;
}
