.chat-search-input {
  width: 80%;
  border-radius: var(--chat-radius-default);
  border: none;
  outline: none;
  background-color: var(--chat-input-color-default);
  padding: 4px 20px;
  line-height: 30px;
  font-size: 16px;
}
