/* src/pages/Community/CommunityMain.css */
* {
  font-family: var(--font-family);
}
.detail-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.detail-container:last-child {
  margin-bottom: 100px;
}