/* 전역 CSS 관리하는 파일입니다. */

/* 
 전역 CSS 사용 방법

 ex) 
 div {
    color : var(--main-color);
 }
 */

 @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR&display=swap');

 /* .nanum-gothic-regular {
    font-family: "Nanum Gothic", serif;
    font-weight: 400;
    font-style: normal;
  }
   */
.noto-sans-kr- {
    font-family: "Noto Sans KR", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  
:root {
    --text-size-m : 18px;
    --text-size-s : 13px;
    --font-family: "Noto Sans KR", serif;
    --main-color: #9f6651;
    --sub-color: #f6ede2;
    --dog-icon-in-color: #BEC2C4;
    --dog-icon-out-color: #DEDEDE;
    --gray: #CCCCCC;
    --black: #0E0E0E;
    --white: #FFFEF9;
    --chat-input-color-default: #EDEDED;
    --chat-input-color-send: #F5EDD8;
    --chat-background-color-default: #F5F5F7;
    --chat-padding-default: 10px;
    --chat-padding-larger: 20px;
    --chat-radius-default: 5px;
    --chat-radius-larger: 10px;
}



