.detail-text {
  border-bottom: 1px solid #e3e3e3;
  padding: 1px;
  margin-left: 17px;
}

.detail-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 10px;
}

.detail-header-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.detail-count {
  margin-left: 19px;
}

.detail-list {

  padding: 5px;
}



.detail-input {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  bottom: 65px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: white;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 10;
  height: 35px;
  width: 478px;
}


.reply-time {
  margin-left: 46px;
  margin-top: -10px;
}