.reply-room-footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.reply-room-footer-send-btn {
  width: 54px;
  height: auto;
}

.reply-room-footer-input {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  width: 100%;
}

.reply-room-footer-input::placeholder {
  font-size: 12px;
}


