/* 댓글버튼과 댓글 수 컴포넌트 */

.reply-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.reply-container button:hover {
  opacity: 0.7;
}

.reply-count {
  font-size: 12px;
  font-weight: bold;
}

.reply-btn {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}

.reply-btn-img {
  width: 28px;
  height: 28px;
  color: #A24D28;
}

