/* 좋아요 버튼과 좋아요 수 컴포넌트 */

.like-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.like-count {
  font-size: 12px;
  font-weight: bold;
}

.like-btn {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}

.like-btn-img {
  width: 20px;
  height: 20px;
}