

/* part 3 */


.profile-part3 {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
  }
  .profile-part3 > div {
    height: 150px;
  }
  .profile-grid-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }