
.user-profile-modal {
    display: flex;
    gap: 5px;
    width: 350px;
    padding: 10px;
    border : 1px solid black;
    border-radius: 5px;
    
}

.user-profile-modal-left{
    position: relative;
}

.user-profile-img{    
    margin: 10px;
    border : 1px solid black;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    
}
.user-profile-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-profile-active{
    position: absolute;
    top : 65px;
    left: 65px;
    border : 1px solid black;
    border-radius: 100%;
    background-color: #ddd;
    width: 50px;
    height: 50px;
}

.user-profile-follow{
}

.user-profile-follow > button {
    width: 120px;
    border: 1px solid blue;
    border-radius: 5px;
}

.user-profile-modal-right {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.user-profile-modal-right-top {
    height: 80%;
}
.user-profile-modal-right-bottom {
    height: 20%;
}

.user-profile-name {
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}

.user-profile-intro {
    padding: 5px;
}

.user-profile-dog-list {
    float: right;
    display: flex;
    gap: 5px;

}

.user-profile-dog-list > div{
    border : 1px solid blue;
    border-radius: 5px;
    padding: 3px 5px;
}